
	
		<script>
			
				$(document).ready(function(){ 
			
					$("#header").css('border-bottom', 'solid 5px #eb5b4c');
				});
			
			</script>
		<div ng-controller="RaffleCtrl">
		<div id="container">
			
			
			<h1>{{newEntry.name}}</h1>

			<form>
			  <input type="text" ng-model="newEntry.name">
			</form> 

			
			<div id="header">
			
				<a href="/history/index.html"><div class="h_blue_circle"></div></a>
				<a href="charts.html"><div class="h_green_circle"></div></a>
				<a href="doctor.html"><div class="h_orange_circle"></div></a>
				<a href="/profile.html"><div class="h_red_circle"></div></a>
				<a href="/welcome/index.html"><div class="home_btn">Home</div></a>
				 
			</div>
			
			
			<div class="profile">
			
				<div class="left_sidebar">
					<img src="images/profile/profile_pic.png"></img>
					<div class="label"><%= @myuser.pname%></div>
					<div class="label"><%= @myuser.email%></div>
				</div>
				
				<div class="button_bg">	
				<input type="button" class="profile_button" value="Edit" ng-click="displaydeatils()"></input></br>
				<a href="/patients/edit"><input type="button" class="profile_button" value="Change Password"></input></a></br>
				<input type="button" class="profile_button" value="Reset Data"></input></br>
				<a href="/patients/sign_out.html"><input type="button" class="profile_button" value="Logout"></input></a></br>
				
			</div>
				
			</div>
			<div class="right_sidebar" ng-show="DisplayUpdate === 'none'">
			
			<%= form_tag(patient_path(@myuser.id), method: "patch",remote:true) do %>
	 
			  <%= text_field_tag 'pname',nil, value: @myuser.pname, class:'prof_label'%>
			  <%= text_field_tag 'insuline', nil, value: @myuser.insuline,placeholder:@myuser.insuline, class:'prof_label'%>
			  <%= text_field_tag 'pillname', nil, value: @myuser.pillname,placeholder:@myuser.pillname, class:'prof_label'%>
			  <%= text_field_tag 'birthday', nil, value: @myuser.birthday,placeholder:@myuser.birthday, class:'prof_label'%>
			  <%= submit_tag("Update") %>
	 
			<%end%>
			
			</div>
			
			
			<div class="right_sidebar" ng-show="displayDetails === 'Details'">
				
			
			
				<div class="label">Full Name <span class="prof_label"><%= @myuser.pname%></span></div>
				<div class="label">Gender <span class="prof_label">Male</span></div>
				<div class="label">Age <span class="prof_label"><%= Patient.age(@myuser.birthday)%></span></div>
				<div class="label">Weight <span class="prof_label"><%= @myuser.pweight%></span></div>
	
				<div class="label">Diabetes Type <span class="prof_label"><%= @myuser.diabetetype%></span></div>
				<div class="label">Pill <span class="prof_label"><%= @myuser.pillname%></span></div>
				<div class="label">Insulin <span class="prof_label"><%= @myuser.insuline%></span></div>
				<div class="label">Date of Birth <span class="prof_label"><%= @myuser.birthday%></span></div>
					
			</div>	
			
				
		</div>
	</div>
		
	
		
			
			
