<!DOCTYPE html>
<html>
<head>
  <title>Aqurance</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body id="center_container" class="bg">>
   <% flash.each do |name, msg| %>

     # New code (allow for flash elements to be arrays)
     <% if msg.class == Array %>
       <% msg.each do |message| %>
         <%= content_tag :div, message, :id => "flash_#{name}" %>
       <% end %>
     <% else %>

       # old code
       <%= content_tag :div, msg, :id => "flash_#{name}" %>

     <% end %> #don't forget the extra end
   <% end %>
<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>
<%= yield %>

</body>
</html>
